<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'importCssJs.html' %}
    <title>{% block title %}Hangblog{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-nav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-2">
                    <a class="nav-link py-md-2" href="#">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-md-2" href="#">长路漫漫</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-md-2" href="#">在线工具</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-md-2" href="#">友情链接</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-md-2" href="#">关于</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="站内搜索" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link py-md-2" href="/admin">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-md-2" href="#">注册</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block div1 %}内容1{% endblock %}
{% block div2 %}内容2{% endblock %}
{% block div3 %}内容3{% endblock %}
</body>
</html>