<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
<link rel="stylesheet" href="/blog/static/css/bootstrap.css">
<link rel="stylesheet" href="/blog/static/css/bootstrap-grid.css">
<link rel="stylesheet" href="/blog/static/css/bootstrap-reboot.css">
<link rel="stylesheet" href="/blog/static/mycss/icon.css">
<script src="/blog/static/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="/blog/static/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
<script src="/blog/static/js/bootstrap.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">